.Tree {
  display: flex;
  flex-direction: column;
}

.TreeNode {
  display: flex;
  flex-direction: column;
  margin-left: 1em;
}

.TreeNode-label {
  margin-bottom: 0.5em;
}

.TreeNode-children {
  margin-left: 1em;
  border-left: 1px solid black;
  padding-left: 1em;
}
