body {
  background-color: #f5f6fa;
  padding: 0;
  margin: 0;
}

h2 {
  font-size: 1.5rem;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
  padding: 10px 20px;
  font-weight: 600;
  border: none;
  outline: none;
}

.btn_blue {
  background: #0290ff;
  color: white;
}

.btn_green {
  background: #99A98F;
  color: white;
}

.input__search__person {
  display: flex;
  width: 80%;
  justify-content: center;
  gap: 12px;
} 

.input__search__person input[type="text"] {
  outline: none;
  border: 1px solid #025329;
  width: 100%;
  padding: 0 10px;
}

.input__search__person input[type="submit"] {
  cursor: pointer;
  padding: 10px 20px;
  font-weight: 600;
  border: none;
  outline: none;
} 

.input__search {
  display: flex;
  width: 70%;
  justify-content: center;
  gap: 12px;
}

.list__person {
  width: 80%;
}

.input__container {
  /* center block */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-40%, -30%);
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.genealogy_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.genealogy_container svg .node:nth-of-type(1) text {
  fill: #025329;
  position: relative;
  transform: translate(-10px, 15px);
}